* {margin: 0; padding: 0 }
body{
	background: url(/content/images/bg.jpg)  no-repeat; 
	background-size: cover; /*Масштабируем фон */
}
.container{

	min-width: 1050px;
	min-height: 600px;
}
.container  label{
	font-style: italic;
	color: bisque;
	}
.header{
	background-color: rgba(4, 72, 97, 0.6);
	padding: 5px 0 5px 10%;
	font-style: italic;
	font-family: serif;
	border-radius: 0 0 40px 40px;
	margin-top: -10px;
	margin-bottom: 10px;
}
.header a{
	padding: 10px;
	color:rgba(240,255,255,0.7) !important;
	/*border:2px solid black;*/
}

/*menu------------------------------------------------------*/
.userPanel{
	float: right;
}
.topMenu{
	background-color: rgba(4, 72, 97, 0.6);
	margin-bottom: -10px;
}
.main-menu, .userPanel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #E5E5E5;
}
.userPanel label{
	padding: 0 20px 0 10px;
}
.userPanel li:last-child {
	margin-right: 30px;
	border-right: 1px solid #E5E5E5;
}
.main-menu > li ,.userPanel ul li{
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.main-menu > li:last-child{
	 border-right: 1px solid #E5E5E5;
}

.main-menu a ,.userPanel a{
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    /*color: #0088CC;*/
    color:rgba(240,255,255,0.9);
    border-left: 1px solid #E5E5E5;
}

.main-menu a:hover, .userPanel a:hover{
    background: #f5f5f5;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(4, 72, 97, 0.8);/*#FCF8E3;*/
    display:none;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #E5E5E5;
    
}

.main-menu > li:hover .sub-menu {
    display:block;
    z-index: 10;
}
/*menu -------------------------End------------------------------------------------------*/


.pagination li a{
	color:black !important;
	background-color: rgba(255,228,196,0.8) !important;
}
footer{
	text-align: right;
	margin-top: 10px;
	font-size: 0.9em;
	padding: 5px;
	color: white;
}
/*-----------страница article------------------------------------*/
.block{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #ABF; 
	opacity: 0.8;
	padding: 10px 15px 25px 35px;
	border-radius: 30px;
	border: 5px solid #412611;

}
.comment{
	margin-bottom: 20px;
	border: 2px solid #000;
	padding: 10px 3%;
	background:rgba(240,255,255,0.7); 
}
.author{
	float:left;
	font-weight: bold;
}
.date{
	float:right;
}
.content{
	margin-top: -10px;
}

/*----------------------------------------------------------*/

/*-------------------Админка------------*/
.table > a{
	padding: 20px;
	background: rgba(255,235,205,0.8);
}
.table > a:hover{
	background: rgba(255,235,205,0.1);
}
table {
	margin: 30px auto 15px auto;
	/*border-collapse: collapse;*/
	text-align: left;
	min-width: 800px;

}
tr td,tr th{
    padding:10px;   
    border: 3px solid #362F23;
}
tr{
	background: rgba(255,235,205,0.8);
}
tr:nth-child(2n)
{
    background: rgba(145,205,255, 0.9);
}
/*------------------------------------------------------*/
/*----------editArticle-----------*/
form{
	margin-top: 20px;
}
form label{
	padding-right:30px;
	font-size:1.3em;
	font-style: italic;
	color: bisque;
}
form label:nth-child(3){
	display: block;
}

input[type="submit"],input[type="reset"]{
	padding: 5px;
}
/*-----------логин - register---------*/
.page{
	min-height: 450px;
}

.login, .register {
	margin: 30px auto;
	width: 300px;
	background-color: #ABF; 
	opacity: 0.8;
	padding: 10px 15px 25px 50px;
	border-radius: 30px;
	border: 5px solid #412611;
} 
.page form input{
	padding: 2px;
	margin-bottom: 5px;
}
.register form label{
	font-size:1.1em;
	font-style: italic;
	color: black;
}