* {margin: 0; padding: 0 }
body{
	background: url(/resource/images/bg.jpg) 100% 100%  no-repeat;
	background-size: cover; /* Масштабируем фон */
	width: 100%;
}
.container{
		min-height: 600px;

}
.container  label{
	font-style: italic;
	color: bisque;
	}
.header{
	background-color: rgba(4, 72, 97, 0.6);
	color:rgba(198,92,255,0.8);
	padding: 5px 0 5px 10%;
	font-style: italic;
}
.adminpanel {
	float: right;
}
footer{
	text-align: right;
	margin-top: 10px;
	font-size: 0.9em;
	padding: 5px;
	color: white;
}
/*-----------страница article------------------------------------*/
.block{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #ABF; 
	opacity: 0.8;
	padding: 10px 15px 25px 35px;
	border-radius: 30px;
	border: 5px solid #412611;

}
.comment{
	margin-bottom: 20px;
	border: 2px solid #000;
	padding: 10px 3%;
	background:rgba(240,255,255,0.7); 
}
.author{
	float:left;
	font-weight: bold;
}
.date{
	float:right;
}
.content{
	margin-top: -10px;
}

/*----------------------------------------------------------*/

/*-------------------Админка------------*/
.table > a{
	padding: 20px;
	background: rgba(255,235,205,0.8);
}
.table > a:hover{
	background: rgba(255,235,205,0.1);
}
table {
	margin: 30px auto;
	border-collapse: collapse;
	text-align: left;
	min-width: 1000px;

}
tr td,tr th{
    padding:10px;   
    border: 3px solid #362F23;
}
tr{
	background: rgba(255,235,205,0.8);
}
tr:nth-child(2n)
{
    background: rgba(145,205,255, 0.9);
}
/*------------------------------------------------------*/
/*----------editArticle-----------*/
form{
	margin-top: 20px;
}
form label{
	padding-right:30px;
	font-size:1.3em;
	font-style: italic;
	color: bisque;
}
form label:nth-child(3){
	display: block;
}

input[type="submit"],input[type="reset"]{
	padding: 5px;
}
/*-----------логин - register---------*/
.page{
	margin-bottom: 350px;
}
.page div{
	position: absolute;
	right: 200px;
	top:120px;
	width: 300px;
	background-color: #ABF; 
	opacity: 0.8;
	padding: 10px 15px 25px 35px;
	border-radius: 30px;
	border: 5px solid #412611;
} 
.page form input{
	padding: 2px;
	margin-bottom: 5px;
}
.register form label{
	font-size:1.1em;
	font-style: italic;
	color: black;
}